<!DOCTYPE html>
<html>
   <head>
      <title>ABOUT</title>
      <meta charset="utf-8">
      <link href="../css/bootstrap.min.css" rel="stylesheet">
      <meta name=”viewport” content=”width=device-width, initial-scale=1″>
      <link rel="stylesheet" type="text/css" href="../css/supportSelect.css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <style type="text/css">
         .textAlginThumail-Albums {
            text-align: center;
        }
        .textAlginThumail-Albums .viewS {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .thumbnail img {
            max-width: 60%;
        }
      </style>
   </head>
   <body class="bgimg-1">
      <div class="panel panel-default" id="leftmenu">
           <div class="panel-heading">
               Members: Team GC
           </div>
           <ul class="nav navbar-default" style="padding: 0 5%;">
               <li><a href="#">1412193</a>
               </li>
               <li><a href="#">1412169</a>
               </li>
           </ul>
       </div>
       <button class="btn btn-inverse" id="buttonstart" value="0">
        <span class="glyphicon glyphicon-star"></span>
       </button>
       <!-- Menu ao khong duoc hien thi-->
   	<div class="wrapper" id="main">
         <div class="headers">
            <nav class="nav navbar-default navbar-fixed-top" style="margin-bottom: 0!important;">
               <div class="container">
                  <!-- Tao ra 1 button duoc hien thi khi -->
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-a" aria-expanded="false">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     </button>
                     <!-- Nơi chứa hình ảnh logo của trang -->
                     <a class="navbar-brand1" href="#" id="logo"><img src="../img/logo.png" alt=""/></a>
                  </div>
                  <div class="collapse navbar-collapse" id="navbar-collapse-a">
                     <ul class="nav navbar-nav">
                        <li>
                           <a href="../index2.html">Home</a>
                        </li>
                        <li>
                           <a href="./Albums.html">Albums</a>
                        </li>
                        <li class="active">
                           <a href="./About.html" >About<span class="sr-only">(current)</span></a>
                        </li>
                        <li>
                           <a href="./blog.html">Blogs</a>
                        </li>
                     </ul>
                     <!-- Link to Pages -->
                     <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Account
                           <span class="caret"></span>
                           </a>
                           <ul class="dropdown-menu">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                           </ul>
                        </li>
                     </ul>
                  </div>
                  <!--End bao dong  -->
               </div>
               <!-- End container -->
            </nav>
            <!-- End Navigation bar-->
            <div id="background">
               <img src="../img/rsz_logo3.png" class="stretch" alt="" />
               <div class="info">
                  <p class="page-header">GC TEAM</p>
               </div>
            </div>
         </div>
         <!-- End Header-->
         <div class="body-web">
            <div class="container">
                <div class="breadcrumbs-s">
                    <ol class="breadcrumb">
                        <li><a href="../index2.html">Home</a>
                        </li>
                        <li class="active"><a class="colorCrums" href="#">About</a>
                        </li>
                    </ol>
                </div>
                <!-- End BreadCrumbs-->


                <div class="row">

                  <div class="col-md-5 hidden-leftmenu">

                          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h4 class="panel-title">
                                             About <span class="caret"></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                     <div class="left-navigation panel panel-default">
                                     <a role="button" data-toggle="collapse" data-parent="#collapseOne" href="#listAlbums" aria-expanded="true" aria-controls="collapseOne">
                                      <div class="panel-heading">
                                        All Member Teams
                                      </div>
                                      </a>
                                      <ul class="nav navbar-default" style="padding: 0 5%;" id="listAlbums">
                                                <li><a href="./AllAlbums/Album1.html">1412193</a></li>
                                                <li><a href="#">1412169</a></li>
                                      </ul>
                                    </div>

                                    <div class="left-navigation panel panel-default">
                                     <a role="button" data-toggle="collapse" data-parent="#collapseOne" href="#googleMap" aria-expanded="true" aria-controls="collapseOne">
                                      <div class="panel-heading">
                                        Our location
                                      </div>
                                      </a>
                                      <ul class="nav navbar-default" style="padding: 0 5%;" id="googleMap">
                                                <li>
                                                   <div style="width: 100%; height: 500px;">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2094.902978792712!2d106.66578785599438!3d10.845231476992502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175285484b3ef47%3A0xbf4f8e9416ff6d1!2zTMOqIMSQ4bupYyBUaOG7jSwgcGjGsOG7nW5nIDE1LCBHw7IgVuG6pXAsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1491466770039" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                           </div>
                                                </li>
                                      </ul>
                                    </div>


                                  </div>
                                </div>
                              </div>
                           </div>


                  </div>

                  <div class="col-md-7 default-thumnail">


                     <div class="thumbnail">
                                <div class="panel panel-default panel-heading">
                                    <h5>1412193</h5>
                                </div>
                                <img src="../img/Hoc.jpg" alt="..." class="parentimage">
                                <hr>
                                <div class="caption textAlginThumail-Albums">
                                    <p>Nguyễn Thái Học</p>
                                    <div class="viewS">

                                    </div>
                                </div>
                     </div>


                     <div class="thumbnail">
                                <div class="panel panel-default panel-heading">
                                    <h5>1412169</h5>
                                </div>
                                <img src="../img/Hien.jpg" alt="..." class="parentimage">
                                <hr>
                                <div class="caption textAlginThumail-Albums">
                                    <p>Hồ Thảo Hiền</p>
                                    <div class="viewS">

                                    </div>
                                </div>
                     </div>






                  </div> <!-- End Column -->

                </div>
            </div>
         </div>
         <!--End: body-web Phần thân của trang web "web được chia làm 3 phần -->
         <div class="panel-footer">
            <div class="container">
               <hr>
               <div class="text-center center-block">
                  <p class="txt-railway">- Team Guilty Crown -</p>
                  <br />
                  <a href=""><i id="fb" class="fa fa-facebook-square fa-2x social"></i></a>
                  <a href=""><i id="tw" class="fa fa-twitter-square fa-2x social"></i></a>
                  <a href=""><i id="gp" class="fa fa-google-plus-square fa-2x social"></i></a>
                  <a href=""><i id="gmail" class="fa fa-envelope-square fa-2x social"></i></a>
                  <br />
                  <p> © 2017 GC<p>
               </div>
               <hr>
            </div>
         </div>
         <!-- End Footer -->
      </div>
      <!-- End Warpper-->




   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('ul.nav li.dropdown').hover(function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
        }, function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
        });


        $("#buttonstart").click(function() {
            if ($(this).val() == "0") {
                $(this).animate({
                    left: 210
                }, 300); //1
                $("#leftmenu").animate({
                    left: -10
                }, 300); //1000
                $(this).val("1");
            } else {
                $(this).animate({
                    left: 0
                }, 300);
                $("#leftmenu").animate({
                    left: -220
                }, 300);
                $(this).val("0");
            }
        });
    </script>
   </body>
</html>
