<!DOCTYPE html>
<html>

<head>
    <title>ALBUMS</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>
    <link rel="stylesheet" type="text/css" href="css/supportSelect.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
        /* Rieng cho Albums*/

        .thumbnail>img {
            max-width: 60%;
        }

        .img-circle {
            width: 30px;
            height: 30px;
        }

        .textAlginThumail-Albums {
            text-align: center;
        }

        .textAlginThumail-Albums .viewS {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body class="bgimg-1">
    <div class="panel panel-default" id="leftmenu">
        <div class="panel-heading">
            Albums
        </div>
        <ul class="nav navbar-default" style="padding: 0 5%;">
            <li><a href="./AllAlbums/Album1.html">Album 1</a>
            </li>
            <li><a href="#">Album 2</a>
            </li>
            <li><a href="#">Album 3</a>
            </li>
        </ul>
    </div>
    <button class="btn btn-inverse" id="buttonstart" value="0">
        <span class="glyphicon glyphicon-star"></span>
    </button>

    <!-- tao 1 cai leftmenu ao  -->
    <div class="wrapper" id="main">
        <div class="headers">
            <nav class="nav navbar-default navbar-fixed-top" style="margin-bottom: 0!important;">
                <div class="container">
                    <!-- Tao ra 1 button duoc hien thi khi -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-a" aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Nơi chứa hình ảnh logo của trang -->
                        <a class="navbar-brand1" href="#" id="logo"><img src="../img/logo.png" alt="" />
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-a">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="http://localhost:8080/">Home</a>
                            </li>
                            <li class="active">
                                <a href="http://localhost:8080/Albums">Albums<span class="sr-only">(current)</span></a>
                            </li>
                            <li>
                                <a href="http://localhost:8080/About">About</a>
                            </li>
                            <li>
                                <a href="http://localhost:8080/Blogs">Blogs</a>
                            </li>
                        </ul>
                        <!-- Link to Pages -->
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Account
                           <span class="caret"></span>
                           </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a>
                                    </li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--End bao dong  -->
                </div>
                <!-- End container -->
            </nav>
            <!-- End Navigation bar-->
            <div id="background">
                <img src="../img/rsz_logo3.png" class="stretch" alt="" />
                <div class="info">
                    <p class="page-header">ALBUMS</p>
                </div>
            </div>
        </div>
        <!-- End Header-->
        <div class="body-web">
            <div class="container">
                <div class="breadcrumbs-s">
                    <ol class="breadcrumb">
                        <li><a href="../index2.html">Home</a>
                        </li>
                        <li class="active"><a class="colorCrums" href="#">Albums</a>
                        </li>
                    </ol>
                </div>
                <!-- End BreadCrumbs-->

                <div>
                    <div class="row">
                        <div class="col-md-3 hidden-leftmenu">

                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <h4 class="panel-title">
                                             Albums <span class="caret"></span>
                                        </h4>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <div class="left-navigation panel panel-default">
                                                <a role="button" data-toggle="collapse" data-parent="#collapseOne" href="#listAlbums" aria-expanded="true" aria-controls="collapseOne">
                                                    <div class="panel-heading">
                                                        ALL Albums
                                                    </div>
                                                </a>
                                                <ul class="nav navbar-default" style="padding: 0 5%;" id="listAlbums">
                                                    <li><a href="./AllAlbums/Album1.html">Album 1</a></li>
                                                    <li><a href="#">Album 2</a></li>
                                                    <li><a href="#">Album 3</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-9 default-thumnail">

                            <div class="thumbnail">
                                <div class="panel panel-default panel-heading">
                                    <h5>Album1</h5>
                                </div>
                                <img src="../img/logo1.jpg" alt="..." class="parentimage">
                                <hr>
                                <div class="caption textAlginThumail-Albums">
                                    <span>
                                    <img src="../img/bg.jpg" alt="..." class="img-circle"> <a href="">Hoc</a>
                                    </span>
                                    <div class="viewS">
                                        <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View: 13</p>
                                    </div>
                                    <p class="algintext"><a href="#" class="btn btn-success" role="button">Detail</a>
                                </div>
                            </div>



                            <div class="thumbnail">
                                <div class="panel panel-default panel-heading">
                                    <h5>Album2</h5>
                                </div>
                                <img src="../img/bg.jpg" alt="..." class="parentimage">
                                <hr>
                                <div class="caption textAlginThumail-Albums">
                                    <span>
                                    <img src="../img/bg.jpg" alt="..." class="img-circle"> <a href="">Ho Thao Hien</a>
                                    </span>
                                    <div class="viewS">
                                        <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View: 160</p>
                                    </div>
                                    <p class="algintext"><a href="#" class="btn btn-success" role="button">Detail</a>

                                </div>
                            </div>


                            <div class="thumbnail">
                                <div class="panel panel-default panel-heading">
                                    <h5>Album 3</h5>
                                </div>
                                <img src="../img/background.jpg" alt="..." class="parentimage">
                                <hr>
                                <div class="caption textAlginThumail-Albums">
                                    <span>
                                    <img src="../img/logo.png" alt="..." class="img-circle"> <a href="">Vu Dang Khoa</a>
                                    </span>
                                    <div class="viewS">

                                        <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View: 1000
                                        </p>
                                    </div>
                                    <p class="algintext"><a href="#" class="btn btn-success" role="button">Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                </div>
                <!-- via ngoai cua End Row -->
            </div>
        </div>
        <!--End: body-web Phần thân của trang web "web được chia làm 3 phần -->
        <div class="panel-footer">
            <div class="container">
                <hr>
                <div class="text-center center-block">
                    <p class="txt-railway">- Team Guilty Crown -</p>
                    <br />
                    <a href=""><i id="fb" class="fa fa-facebook-square fa-2x social"></i></a>
                    <a href=""><i id="tw" class="fa fa-twitter-square fa-2x social"></i></a>
                    <a href=""><i id="gp" class="fa fa-google-plus-square fa-2x social"></i></a>
                    <a href=""><i id="gmail" class="fa fa-envelope-square fa-2x social"></i></a>
                    <br />
                    <p> © 2017 GC
                        <p>
                </div>
                <hr>
            </div>
        </div>
        <!-- End Footer -->
    </div>
    <!-- End Warpper-->




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('ul.nav li.dropdown').hover(function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
        }, function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
        });


        $("#buttonstart").click(function() {
            if ($(this).val() == "0") {
                $(this).animate({
                    left: 210
                }, 300); //1
                $("#leftmenu").animate({
                    left: -10
                }, 300); //1000
                $(this).val("1");
            } else {
                $(this).animate({
                    left: 0
                }, 300);
                $("#leftmenu").animate({
                    left: -220
                }, 300);
                $(this).val("0");
            }
        });
    </script>
</body>

</html>
