<!DOCTYPE html>
<html>
   <head>
      <title>BLOG</title>
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <meta name=”viewport” content=”width=device-width, initial-scale=1″>
      <link rel="stylesheet" type="text/css" href="css/supportSelect.css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
       <style type="text/css">

      .effect
       {
           border:10px solid #eee;
           transition: all 0.2s ease-in-out;
       }
       .effect:hover
       {
           border:2px solid #333;
           transform:rotate(360deg);
           -ms-transform:rotate(360deg);
           -webkit-transform:rotate(360deg);
           /*-webkit-font-smoothing:antialiased;*/
       }
       .column-desgin {
         margin-bottom: 100px;
       }
       .desgin-panel{
         padding: 2% 2%;
       }
       .border-size {
         border-bottom: 2px solid #1abc9c;
         padding: 2% 2%;
       }

       </style>
   </head>
   <body class="bgimg-1">
   	<div class="wrapper" id="main">
         <div class="headers">
            <nav class="nav navbar-default navbar-fixed-top" style="margin-bottom: 0!important;">
               <div class="container">
                  <!-- Tao ra 1 button duoc hien thi khi -->
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-a" aria-expanded="false">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     </button>
                     <!-- Nơi chứa hình ảnh logo của trang -->
                     <a class="navbar-brand1" href="#" id="logo"><img src="../img/logo.png" alt=""/></a>
                  </div>
                  <div class="collapse navbar-collapse" id="navbar-collapse-a">
                     <ul class="nav navbar-nav">
                        <li>
                           <a href="../index2.html">Home</a>
                        </li>
                        <li>
                           <a href="./Albums.html">Albums<span class="sr-only">(current)</span></a>
                        </li>
                        <li>
                           <a href="./About.html" >About</a>
                        </li>
                        <li class="active">
                           <a href="./blog.html">Blogs</a>
                        </li>
                     </ul>
                     <!-- Link to Pages -->
                     <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Account
                           <span class="caret"></span>
                           </a>
                           <ul class="dropdown-menu">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                           </ul>
                        </li>
                     </ul>
                  </div>
                  <!--End bao dong  -->
               </div>
               <!-- End container -->
            </nav>
            <!-- End Navigation bar-->
            <div id="background">
               <img src="../img/rsz_logo3.png" class="stretch" alt="" />
               <div class="info">
                  <p class="page-header">BLOGS</p>
               </div>
            </div>
         </div>
         <!-- End Header-->
         <div class="body-web">
            <div class="container">
               <div class="breadcrumbs-s">
                    <ol class="breadcrumb">
                        <li><a href="../index2.html">Home</a>
                        </li>
                        <li class="active"><a class="colorCrums" href="#">Blogs</a>
                        </li>
                    </ol>
               </div>
               <div class="row">
                  <div class="col-md-12 col-xs-12 column-desgin border-size" >
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object effect img-circle" src="../img/logo.png" style="width: 100px;height:100px;">
                        </a>
                        <div class="media-body">
                            <h6 class="media-heading"><img src="../img/bg.jpg" alt="..." class="img-circle"><a href=""> Ho Thao Hien </a>
                            </h6>
                            <h5 class="desgin-panel">If The World one day haven't Google Then We have life this is a litte bit more one day ... <a href="http://gridle.in" style="text-decoration: underline;"> Read more ... -> </a></h5>

                            <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><strong> View: 1000</strong>
                            </p>
                            <hr style="margin:8px auto">
                            <span class="label label-default">Albums</span>
                            <span class="label label-default">Active</span>
                            <span class="label label-info">Logo</span>
                            <span class="label label-default">Self</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12 column-desgin border-size">
                    <div class="media">
                       <a class="pull-left" href="#">
                            <img class="media-object effect img-circle" src="../img/logo.png" style="width: 100px;height:100px;">
                        </a>
                        <div class="media-body">
                            <h6 class="media-heading"><img src="../img/bg.jpg" alt="..." class="img-circle"><a href=""> Ho Thao Hien </a>
                            </h6>
                            <h5 class="desgin-panel">If The World one day haven't Google Then We have life this is a litte bit more one day ... <a href="http://gridle.in" style="text-decoration: underline;"> Read more ... -> </a></h5>

                            <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><strong> View: 1000</strong>
                            </p>
                            <hr style="margin:8px auto">
                            <span class="label label-default">Albums</span>
                            <span class="label label-default">Active</span>
                            <span class="label label-info">Logo</span>
                            <span class="label label-default">Self</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12 column-desgin border-size">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object effect img-circle" src="../img/logo.png" style="width: 100px;height:100px;">
                        </a>
                        <div class="media-body">
                            <h6 class="media-heading"><img src="../img/bg.jpg" alt="..." class="img-circle"><a href=""> Ho Thao Hien </a>
                            </h6>
                            <h5 class="desgin-panel">If The World one day haven't Google Then We have life this is a litte bit more one day ... <a href="http://gridle.in" style="text-decoration: underline;"> Read more ... -> </a></h5>

                            <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><strong> View: 1000</strong>
                            </p>
                            <hr style="margin:8px auto">
                            <span class="label label-default">Albums</span>
                            <span class="label label-default">Active</span>
                            <span class="label label-info">Logo</span>
                            <span class="label label-default">Self</span>
                        </div>
                    </div>
                </div>
               </div><!--End Row -->
            </div>
         </div>
         <!--End: body-web Phần thân của trang web "web được chia làm 3 phần -->
         <div class="panel-footer">
            <div class="container">
               <hr>
               <div class="text-center center-block">
                  <p class="txt-railway">- Team Guilty Crown -</p>
                  <br />
                  <a href=""><i id="fb" class="fa fa-facebook-square fa-2x social"></i></a>
                  <a href=""><i id="tw" class="fa fa-twitter-square fa-2x social"></i></a>
                  <a href=""><i id="gp" class="fa fa-google-plus-square fa-2x social"></i></a>
                  <a href=""><i id="gmail" class="fa fa-envelope-square fa-2x social"></i></a>
                  <br />
                  <p> © 2017 GC<p>
               </div>
               <hr>
            </div>
         </div>
         <!-- End Footer -->
      </div>
      <!-- End Warpper-->




   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">

         $('ul.nav li.dropdown').hover(function() {
           $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
         }, function() {
           $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
         });


    </script>
   </body>
</html>
